DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.assets.cache
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.csprojAssemblyReference.cache
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.dll
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.pdb
DatingApp.API/bin/Debug/netcoreapp3.0/DatingApp.API.dll
DatingApp.API/bin/Debug/netcoreapp3.0/DatingApp.API.pdb
DatingApp.API/bin/Debug/netcoreapp3.0/appsettings.json
DatingApp.API/bin/Debug/netcoreapp3.0/DatingApp.API.deps.json
DatingApp.API/bin/Debug/netcoreapp3.0/DatingApp.API.dll
DatingApp.API/bin/Debug/netcoreapp3.0/DatingApp.API.pdb
DatingApp.API/bin/Debug/netcoreapp3.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
DatingApp.API/bin/Debug/netcoreapp3.0/Microsoft.IdentityModel.JsonWebTokens.dll
DatingApp.API/bin/Debug/netcoreapp3.0/Microsoft.IdentityModel.Logging.dll
DatingApp.API/bin/Debug/netcoreapp3.0/Microsoft.IdentityModel.Protocols.dll
DatingApp.API/bin/Debug/netcoreapp3.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
DatingApp.API/bin/Debug/netcoreapp3.0/Microsoft.IdentityModel.Tokens.dll
DatingApp.API/bin/Debug/netcoreapp3.0/Newtonsoft.Json.dll
DatingApp.API/bin/Debug/netcoreapp3.0/System.IdentityModel.Tokens.Jwt.dll
DatingApp.API/obj/DatingApp.API.csproj.nuget.cache
DatingApp.API/obj/DatingApp.API.csproj.nuget.dgspec.json
DatingApp.API/obj/DatingApp.API.csproj.nuget.g.props
DatingApp.API/obj/project.assets.json
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.assets.cache
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.csproj.FileListAbsolute.txt
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.csprojAssemblyReference.cache
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.dll
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.pdb
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.assets.cache
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.csprojAssemblyReference.cache
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.dll
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.pdb
DatingApp.API/bin/Debug/netcoreapp3.0/DatingApp.API.dll
DatingApp.API/bin/Debug/netcoreapp3.0/DatingApp.API.pdb
DatingApp.API/bin/Debug/netcoreapp3.0/DatingApp.API.dll
DatingApp.API/bin/Debug/netcoreapp3.0/DatingApp.API.pdb
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.csprojAssemblyReference.cache
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.dll
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.pdb
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.csprojAssemblyReference.cache
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.dll
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.pdb
DatingApp.API/bin/Debug/netcoreapp3.0/DatingApp.API.dll
DatingApp.API/bin/Debug/netcoreapp3.0/DatingApp.API.pdb
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.assets.cache
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.csprojAssemblyReference.cache
DatingApp.API/bin/Debug/netcoreapp3.0/DatingApp.API.dll
DatingApp.API/bin/Debug/netcoreapp3.0/DatingApp.API.pdb
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.assets.cache
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.csprojAssemblyReference.cache
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.dll
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.pdb
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.csprojAssemblyReference.cache
DatingApp.API/bin/Debug/netcoreapp3.0/AutoMapper.dll
DatingApp.API/bin/Debug/netcoreapp3.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
DatingApp.API/bin/Debug/netcoreapp3.0/DatingApp.API.deps.json
DatingApp.API/bin/Debug/netcoreapp3.0/DatingApp.API.dll
DatingApp.API/bin/Debug/netcoreapp3.0/DatingApp.API.pdb
DatingApp.API/bin/Debug/netcoreapp3.0/Microsoft.AspNetCore.JsonPatch.dll
DatingApp.API/bin/Debug/netcoreapp3.0/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
DatingApp.API/bin/Debug/netcoreapp3.0/Newtonsoft.Json.Bson.dll
DatingApp.API/bin/Debug/netcoreapp3.0/Data/UserSeedData.json
DatingApp.API/obj/DatingApp.API.csproj.nuget.cache
DatingApp.API/obj/DatingApp.API.csproj.nuget.dgspec.json
DatingApp.API/obj/DatingApp.API.csproj.nuget.g.props
DatingApp.API/obj/project.assets.json
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.assets.cache
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.csproj.FileListAbsolute.txt
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.csprojAssemblyReference.cache
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.dll
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.pdb
