<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  
  <a class="navbar-brand" href="#">Dating App</a>
    
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="#">Matches</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Lists</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Messages</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="logOut()">Log out</a>
    </li>
  </ul>

  <div *ngIf="loggedIn()" class="dropdown">
    <a class="dropdown-toggle text-light">
      You're logged in , what's up ?
    </a>
  
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#">Edit Profile</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#"><i class="fa fa-sign-out"></i>Log out</a>
    </div>
  </div>

  <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
    <input class="form-control mr-sm-2" type="text" name="userName" placeholder="User Name" required [(ngModel)]="model.userName">
    <input class="form-control mr-sm-2" type="text" name="password" placeholder="Password" required [(ngModel)]="model.password">
    <button [disabled]="!loginForm.valid" class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
  </form>

</nav>
